
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
 margin: 0;
 padding: 0;
 font-family: 'Poppins', sans-serif;   
 box-sizing: border-box;
 /* background-size:0.25% !important;   
 background-repeat:no-repeat!important; */
 
}

/* .video{
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
} */
/* .video{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    height: 100vh;
    min-height: 500px;
    position: relative;
}
.video.video-background{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
} */
.video{
    width: 99vw;
    height: 100vh;
}
#video-background{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -100;
    
    width:inherit;
    height: inherit;
    margin: 0 auto;
    object-fit: cover;
    
}
.video-shadow div{
    font-size: 190px;
    color: #afaeae;
    

}
.video-shadow{
    position:absolute;
   display: flex;
justify-content: center;
align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -100;
    background: #333;
    width:inherit;
    height: inherit;
    z-index : -99;
   
    opacity : 0.6;
    /*с шириной и высотой правда не помню что писать. Но в каком направлении копать думаю поняли*/
}

.main-menu{
    position: fixed;
    line-height: 75px;
    left: 32px;
    z-index: 9999;
    top: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    width: 300px;

}
.main-menu{
    display: inline-flex;
}

.menu-toggle {
    position: relative;
    width: 70px;
    height: 70px;
    background: transparent;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, .08); */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;

}

.menu-toggle span{
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fd0202;
    border-radius: 3px;
    transition: 0.5s;
    left: 15px;
}
.menu-toggle span:nth-child(1){
    transform: translateY(-10px);
    width: 20px;
    background: #fd0202;
    left: 15px;
}
.menu-toggle span:nth-child(2){
    transform: translateY(10px);
    width: 10px;
    background: #fd0202;
    left: 15px;
}
.menu-toggle.active span:nth-child(3){
transform: translateX(60px);
}

.menu-toggle.active span:nth-child(1){
    width: 40px;
    transform: translateY(0px) rotate(45deg);
}

.menu-toggle.active span:nth-child(2){
    width: 40px;
    transform: translateY(0px) rotate(315deg);
}


.menu-icon::before {
    width: 27px;
    top: -7px;
}
.menu-icon::after {
    width: 20px;
    bottom: -7px;
  }
.nav-top
{
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    position: fixed;
    left: 0;
    width: 100%;
    height: 75px;
    color: #fff;
    line-height: 75px;
    z-index: 100;
    /* height: 10vh; */
}
.nav-center{
    position: absolute;
        width: 30%;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    text-align: center;
}
img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;

}
.footer{
    background: rgb(146, 146, 146);
    width: 100%;
    min-height: 50px;
    padding-top:20px ;
}
.main{
    width: 60%;
    height: 100%;
    margin: auto;
    min-height: 1900px;
    /* background: rgb(165, 17, 17); */
}
/* .center-block{

} */




/* бренды v */

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

/* $animationSpeed: 40s; */

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
}
  .slider::before ~ .slider::after {
			content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		/* z-index: 2; */
	}
	
	/* &::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	} */
	
	.slide-track {
		animation: scroll 40s linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
/* бренды ^ */


/* мышка v */
.mouse-slide{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-top: 20px;
    background: transparent;
    cursor: pointer;
  }
  .scrolldown {
    --color: white;
    --sizeX: 30px;
    --sizeY: 50px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: var(sizeX / 2);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;
  }
  
  .scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #ffffff66;
  }
  
  @keyframes scrolldown-anim {
    0% {
      opacity: 0;
      height: 6px;
    }
    40% {
      opacity: 1;
      height: 10px;
    }
    80% {
      transform: translate(0, 20px);
      height: 10px;
      opacity: 0;
    }
    100% {
      height: 3px;
      opacity: 0;
    }
  }
  .chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chevrondown {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
  }
  .chevrondown:nth-child(odd) {
    animation: pulse 500ms ease infinite alternate;
  }
  .chevrondown:nth-child(even) {
    animation: pulse 500ms ease infinite alternate 250ms;
  }
  @keyframes pulse {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.5;
    }
  }
/* мышка ^ */


/* Наши преимущества v */

/* .advanteges */
 h2{
    text-align: center;
    margin-bottom: 30px;
    color: #636363;
  
  }
.advanteges
{
width: 100%;
color: #636363;;

margin-bottom: 40px;
margin-top: 40px;
padding-bottom: 20px;
padding-top: 20px;
}

.web-4blocks 
{
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.ad-block
{
    min-width: 200px;
    margin: auto;
    width: 40%;
    display: flex;
    
justify-content: center;
align-items: center;


}
.ad-incon{    
  padding-right : 10px;
    flex: 0 0 69px;
}
.ad-text span{
    font-size: 11px;
}
.ad-text h3{
    font-size: 12px;
 color: rgb(193, 58, 44);
 margin-bottom: 10px;
}



/* .web-4blocks h3{
    display: inline-block;
}

.web-4blocks span{
display: inline-block;
 } 
.web-4blocks img 
{
display: inline-block;
height: 100%; 
} */
/* Наши преимущества ^*/



/* Стоимость решений v */
.price{
  color: #636363;;
  background: #F6F6F6;
    width: 100%;
height: 800px;
    margin-bottom: 40px;

}
input[type=radio] {
    display: none;
  }
  
  .card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
  }
  
  .container {
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  
.cards img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  
  #item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
  }
  #item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3  img {
      box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
  
/* Стоимость решений ^*/




/* <!-- Выберите щит для управления: v--> */

.container-menu{
  position: relative;
  margin-bottom: 100px;
  font-size: 13px;
}

.crsl{
  /* background: #fff;
  position: relative;
  padding: 0; */
  display: flex;
  align-items: center;
  justify-content: left;
  width: 1000px;
  height: 600px;
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  }
  
  
  .left-menu{
    position: relative;
  display: inline-block;
  width: 400px;
  height: 400px;
  margin: 0;
  
  }
  .polzunok{
    position: absolute;
    width: 3px;
    height: 60px;
    background: red;
    top: 10px;
    right: 0px;
  }
  
  .menu-variant:hover{
    
    
    scale: 1.15;
    /* animation: scaleUp  0.5s ease-in-out forwards; */
  }
  
  @keyframes scaleUp{
  
    0%{
       
        transform: scale(1);
    }
    100%{
        transform: scale(1.15);
       }
  }
  .menu-variant{
    transition: 0.5s;
    cursor: pointer;
    height: 60px;
    width: 380px;
    margin: 10px;
    display: flex;
  }
  .menu-label {
    display: block;
    opacity: 0.5;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
  }
  
  .menu-label::before{
    content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  
  }
  
  
  .menu-label.m1::before{background-image: url("resources/menu1.png");}
  .menu-label.m2::before{background-image: url("resources/menu2.png");}
  .menu-label.m3::before{background-image: url("resources/menu3.png");}
  .menu-label.m4::before{background-image: url("resources/menu4.png");}
  
  .menu-label.active-label{
  opacity: 1;
  }
  
  .right-menu{
    position: absolute;
    left: 0;
  top: 0;
  width: 650px;
  height: 600px;
  
  /* width: 1000px;
  height: 400px; */
  display: inline-block;
    margin: auto;
    background: transparent;
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  .menu-content{
   position: absolute;
   width: 600px;
   top: 0;
   left: 0;
   background: transparent;
   height: 100%;
   z-index: 100;
   animation: menudropup  1.5s ease-in-out forwards;
   text-align: center;
   
  }
 
  .menu-content.active-item
  {
    z-index: 2;
    animation: menudropdown  1.5s ease-in-out forwards;
    display: inline-block;
  }
  @keyframes menudropdown{
  
    0%{
        opacity: 0 ;
        transform: scale(0.5) translateY(-1500px);
    }
    50%{
        opacity: 1 ;
       }
    100%{
        opacity: 1 ;
        transform: scale(1) translateY(0px);
       }
  }
  @keyframes menudropup{
  
    0%{
        opacity: 1 ;
        transform: scale(1) translateY(0px);
      }
      50%{
        opacity: 1 ;
      }
      100%{
        opacity: 0 ;
        transform: scale(0.5) translateY(-1500px);
       }
  }
/* <!-- Выберите щит для управления: ^--> */





/* Таблицы v*/
.tabel-h{
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  background: linear-gradient( 90deg, rgb(190, 6, 15), rgb(117, 34, 48));
  color: rgb(238, 229, 229);

}
.table{
	border: 1px solid #eee;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
  border-bottom: #fd0202 3px solid;
  margin-bottom: 50PX;
}


.table tr{

}

.table td{
	padding: 5px 10px;
  height: 74px;
	border: 1px solid #eee;
	text-align: left;
}

.table tbody tr:nth-child(odd){
	background: #fff;
}

.table tbody tr:nth-child(even){
	background: #bbbbbb;
}
/* Таблицы ^*/
/*  */



/* Этапы работы v */


.card-container {
margin-bottom: 100px;
  position: relative;
  height: 500px;
  width: 1200px;
  /* top: 60px; */
  left: calc(50% - 600px);
  display: flex;
 color: #636363;;
}

.card-p span{
  margin-top: 120px;
  color: #fff;
  text-align: center;
}
.card-p {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  height: 500px;
  width: 250px;
  /* background-color: #17141d; */
  background-color: rgb(58, 58, 58) ;
  /* background: linear-gradient(200deg, #C0392B, #C5DDE8); */
  /* background: linear-gradient(200deg, #C0392B 0%, #C5DDE8 45%, rgb(212, 212, 212) 100%); */
  
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  overflow: hidden;
}

.card-p:not(:first-child) {
    margin-left: -50px;
}

.card-p:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card-p:hover ~ .card-p {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300px;
  font-family: 'Poppins', sans-serif;   
  position: absolute;
  left: 20px;
  top: 40px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #636363;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card-p:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}



.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card-p:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
/* Этапы работы ^ */

/* Комплект поставки v  */

.container-complect {
  position : relative;
  width : 1100px;
  display : flex;
  align-items : center;
  justify-content : center;
  flex-wrap : warp;
  padding : 30px;  
}

.container-complect .card-compl {
  position: relative;
  max-width : 300px;
  height : 215px;  
  background-color : #fff;
  margin : 30px 10px;
  padding : 20px 15px;
  
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
.container-complect .card-compl:hover {
  height : 420px;    
}


.container-complect .card-compl .image {
  position : relative;
  width : 260px;
  height : 360px;
  
  top : -40%;
  left: 8px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
  background: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
}

.container-complect .card-compl .image img {
  max-width : 100%;
  margin: auto;
  border-radius : 15px;
}

.container-complect .card-compl .content {
  position : relative;
  top : -140px;
  padding : 10px 15px;
  color : #111;
  text-align : center;
  
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
    
}

.container-complect .card-compl:hover .content {
   margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
  
}


/* Комплект поставки ^  */


/* footer mapbox*/
.mapBox{
 position: relative;
 margin: auto;
 width: 600px;
 height: 500px;

}
/* footer mapbox*/