
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');





*{
 margin: 0;
 padding: 0;
font-family: 'Poppins', sans-serif; 
 box-sizing: border-box;
}
.main-container-bp{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.btn{
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.btn .play{
  position: relative;
  width: 80px;
  height: 80px;
  background: #eee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 25px #00000034;
  transition: 0.5s;
}
.btn.active .play{
box-shadow:  0 0 0 150vh #eee;
}
.btn .play::before{
  content: '';
  position: absolute;
  border: 25px solid #fff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 0px solid transparent;
  transform: translateX(5px);
}
.btn p{
  font-weight: 500;
  font-size: 1em;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.clip-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: 0.5s;
}
.clip-box.active{
  transform: translate(-50%,-50%) scale(1);
}
.clip-box .content-box{
  position: relative;
  width: 1280px;
  height: 720px;
  /* border: 1px solid #000; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.clip-box .close-bc{
  user-select: none;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(143, 33, 33);
}
.content-box .bg-box{
  width:600px;
  height: 700px;
}


/* .zone{
  position: absolute;
  border: 4px solid rgba(97, 71, 71, 0.438);
}
.zone:hover{
border: 4px solid rgb(238, 44, 44);
border-radius: 4px;
}
#z1{
  top: 100px;
  left: 365px;
  width: 90px;
  height: 120px;
}
#z2{
  top: 100px;
  left: 480px;
  width: 40px;
  height: 120px;
}

#z3{
  top: 110px;
  left: 510px;
  width: 95px;
  height: 120px;
}

#z4{
  top: 110px;
  left: 605px;
  width: 50px;
  height: 120px;
}

#z5{
  top: 95px;
  left: 650px;
  width: 63px;
  height: 140px;
}
#z6{
  top: 95px;
  left: 706px;
  width: 110px;
  height: 140px;
}
#z7{
  top: 95px;
  left: 814px;
  width: 30px;
  height: 140px;
}
#z8{
  top: 380px;
  left: 345px;
  width: 100px;
  height: 40px;
}
#z9{
  top: 410px;
  left: 338px;
  width: 90px;
  height: 90px;
}

#z10{
  top: 430px;
  left: 505px;
  width: 60px;
  height: 40px;
}

#z11{
  top: 430px;
  left: 616px;
  width: 40px;
  height: 40px;
}
#z12{
  top: 350px;
  left: 650px;
  width: 40px;
  height: 140px;
}
#z13{
  top: 560px;
  left: 890px;
  width: 40px;
  height: 140px;
}
 */
